version: '3'
services:
  sqlserver:
    image: "mcr.microsoft.com/mssql/server:2019-CU14-ubuntu-20.04"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "p@ssw0rd"
      MSSQL_PID: "Express"
    ports:
      - "1433:1433"